header {
  margin: 0px;
}
section.main {
  margin-top: 100px;
}
span.muted {
  font-size: 67%;
  color: #777777
}
.label {
  padding: 5px;
  margin-right: 3px;
  font-weight: normal;
}
.list-group.expanded {
  margin-bottom: 0;
}
.list-group.expanded > .list-group-item {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #f5f5f5;
}
.list-group-item {
  word-wrap: break-word;
}
.comments {
  margin: 0;
}
button.btn-comment {
  margin-top: 10px;
}
.comment.new > .form-group {
  margin-bottom: 0;
}
.img-user {
  width: 50px;
  height: auto;
  display: inline-block;
}
.trending {
  text-align: center;
}
.random {
  text-align: center;
}
.star {
  float: right;
}
.whois {
  width: 20px;
}
.whois > img {
  height: auto;
  width: 30px;
  border-radius: 50%;
}
#newpost {
  height: 30px;
}
#submitpost {
  margin-top: -2em;
  margin-left: 2em;
}
